.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures
/build
/*/build/

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml